<html>
    <head>
        <title>Your Music Taste! ❤️</title>
        <link rel="icon" type="image/jpg" href="./Public/assets/favicon.jpg"/>
    </head>
    <body>
		<h1>Top List</h1>

        <table>
            <% if(items.length){ 
                for(var i = 0;i < items.length;i++) { %>
                  <tr>
                    <% for (var j in items[i]) { %>
                    <td><%=items[i][j]%></td>
                    <% } %>
                  </tr>
               <% } 
            } %>
        </table>

    </body>
</html>