<html>
    <head>
        <title>YourMusicTaste</title>
    </head>
    <body>
        
        <h1>Welcome, <%= user_data.name %>!</h1>
        <h2>Here are your options: </h2>
        <p>View Your Top 50 artists</p>
        <form method="get" action="/user/top-artists"> 
            <button>Top Artists</button> 
        </form>

        <p>View Your Top 50 tracks</p>
        <form method="get" action="/user/top-tracks"> 
            <button>Top Tracks</button> 
        </form>

        <p>View Your Recently-Played tracks</p>
        <form method="get" action="/user/Recently-Played"> 
            <button>Recently Played</button> 
        </form>
        
    </body>
</html>